{% extends 'base-admin.html' %}

{% load static %}

{% load humanize %}

{% block title %} Quản lý nhà hàng {% endblock title %}

{% block style %}

<link rel="stylesheet" href="{% static 'assets/css/modal.css' %}">

{% endblock style %}

{% block content %}

{% csrf_token %}



        <hr style="width: 100%;margin: 1rem auto 0;" />
        

        <div class="w-100 p-3">
            
            <div class="row bg-info-subtle rounded p-2 mt-2 fs-6" style="height: 70vh;">
                <div class="col-12">
                    <table class="table table-hover shadow">
                        <thead>
                            <tr>
                                    {% for title in titles %}
                                    <th class="bg-primary text-white text-center fw-semi" {% if forloop.first %}style="border-top-left-radius: 6px;"{% endif %} {% if forloop.last %}style="border-top-right-radius: 6px;"{% endif %} scope="col">
                                        {{title}}
                                    </th>
                                    {% endfor %}                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr class="fs-6">
                                <th class="text-center fw-semi" scope="row">{{ order.id }}</th>
                                <td class="text-center">{{ order.delivery_address }}</td>
                                <td class="text-center">{{ order.phone_number }}</td>
                                <td class="text-center">{{ order.total_price|intcomma }} đ</td>
                                <td class="text-center">{{ order.created_at|date:"d-m-Y H:i" }}</td>
                                <td class="text-center">{{ order.status }}</td>
                                <td class="text-center">
                                    <button class="btn btn-warning modal-btn" data-pk="{{ order.id }}">Chi tiết</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modalBtns = [...document.querySelectorAll('.modal-btn')];
        const overlayElem = document.querySelector('.overlay');
        const modalElem = document.querySelector('.modal');
        const modalBody = document.getElementById('modal-body');
        const modalTitle = document.getElementById('modal-title')
        const submitModalBtn = document.getElementById('submit-modal');

        overlayElem.addEventListener('click', () => {
            overlayElem.style.display = 'none';
            modalElem.classList.remove('show-modal');
        });

        modalBtns.forEach(modalBtn => modalBtn.addEventListener('click', () => {
            
            const closeModalBtn = document.querySelector('.btn-close');

            overlayElem.style.display = 'block';
            modalElem.classList.add('show-modal');

            closeModalBtn.addEventListener('click', () => {
                overlayElem.style.display = 'none';
                modalElem.classList.remove('show-modal');
            });

            const dataPk = modalBtn.getAttribute('data-pk');
            fetch(`/restaurant-admin/order/${dataPk}/`)
            .then(response => {
                return response.json();
            })
            .then(data => { 
                if (data.success) {
                    // console.log(data.bundle);
                    let bundle = data.bundle;
                    
                    modalTitle.innerHTML = `Đơn đặt hàng món ăn ${bundle.dish}`;
                    modalBody.innerHTML = `
                    <h4 class="text-center fs-4">Thông tin order</h4>
                    <ul>
                        <li class="d-flex align-items-center justify-content-start" style="gap: 0 1rem;"><b>User: </b> <p style="margin-bottom: 0;">${bundle.user_order}</p></li>
                        <li class="d-flex align-items-center justify-content-start" style="gap: 0 1rem;"><b>Giao đến:</b> <p style="margin-bottom: 0;">${bundle.address}</p></li>
                        <li class="d-flex align-items-center justify-content-start" style="gap: 0 1rem;"><b>Số điện thoại:</b> <p style="margin-bottom: 0;">${bundle.phone}</p></li>
                        <li class="d-flex align-items-center justify-content-start" style="gap: 0 1rem;"><b>Món ăn:</b> <p style="margin-bottom: 0;">${bundle.dish}</p></li>
                        <li class="d-flex align-items-center justify-content-start" style="gap: 0 1rem;"><b>Số lượng:</b> <p style="margin-bottom: 0;">${bundle.quantity}</p></li>
                        <li class="d-flex align-items-center justify-content-start" style="gap: 0 1rem;"><b>Mô tả:</b> <p style="margin-bottom: 0;">${bundle.dish_description}</p></li>
                        <li class="d-flex align-items-center justify-content-start" style="gap: 0 1rem;"><b>Giá:</b> <p style="margin-bottom: 0;">${bundle.price}</p></li>
                        <li class="d-flex align-items-center justify-content-start" style="gap: 0 1rem;"><b>Ghi chú:</b> <p style="margin-bottom: 0;">${bundle.note}</p></li>
                        <li class="d-flex align-items-center justify-content-start" style="gap: 0 1rem;"><b>Thời gian đặt:</b> <p style="margin-bottom: 0;">${bundle.time}</p></li>
                    </ul>
                    `; // price ở trên có thể fix lấy từ button với data attribute
                    submitModalBtn.innerHTML = `Xong`;
                } else {
                    overlayElem.style.display = 'none';
                    modalElem.classList.remove('show-modal');
                }
            })
            .catch(error => console.error(error));

        }));
    });
</script>
 
{% endblock content %}

