{% extends 'base-admin.html' %}

{% load static %}

{% load humanize %}

{% block title %} Quản lý nhà hàng {% endblock title %}

{% block style %}

<link rel="stylesheet" href="{% static 'assets/css/modal.css' %}">

{% endblock style %}

{% block content %}

{% csrf_token %}



        <hr style="width: 100%;margin: 1rem auto 0;" />
        

        <div class="w-100 p-3">
            
            <div class="row bg-info-subtle rounded p-2 mt-2 fs-6" style="height: 70vh;">
                <div class="col-12">
                    <table class="table table-hover shadow">
                        <thead>
                            <tr>
                                    {% for title in titles %}
                                    <th class="bg-primary text-white text-center fw-semi" {% if forloop.first %}style="border-top-left-radius: 6px;"{% endif %} {% if forloop.last %}style="border-top-right-radius: 6px;"{% endif %} scope="col">
                                        {{title}}
                                    </th>
                                    {% endfor %}                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr class="fs-6">
                                <th class="text-center fw-semi" scope="row">{{ order.id }}</th>
                                <td class="text-center">{{ order.delivery_address }}</td>
                                <td class="text-center">{{ order.phone_number }}</td>
                                <td class="text-center">{{ order.total_price|intcomma }} đ</td>
                                <td class="text-center">{{ order.created_at|date:"d-m-Y H:i" }}</td>
                                <td class="text-center">
                                    {% if order.status != "Đã hủy" and order.status != "Hoàn thành" %}
                                        <form class="d-flex align-items-center" style="gap: 0 0.8rem;" action="{% url 'post-update-order-admin-view' order.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="w-75">
                                                <select class="form-select" name="order-status" aria-label="Default select example">
                                                    <option value="Đang chờ xử lý" {% if order.status == "Đang chờ xử lý" %}selected{% endif %}>Đang chờ xử lý</option>
                                                    <option value="Đã tiếp nhận" {% if order.status == "Đã tiếp nhận" %}selected{% endif %}>Đã tiếp nhận</option>
                                                    <option value="Đang giao" {% if order.status == "Đang giao" %}selected{% endif %}>Đang giao</option>
                                                    <option value="Hoàn thành" {% if order.status == "Hoàn thành" %}selected{% endif %}>Hoàn thành</option>
                                                    <option value="Đã hủy" {% if order.status == "Đã hủy" %}selected{% endif %}>Đã hủy</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success">
                                                <i class="fa-solid fa-floppy-disk"></i>
                                            </button>
                                        </form>
                                    {% else %}
                                        <!-- Optionally display the status as text if the form is not shown -->
                                        <p>{{ order.status }}</p>
                                    {% endif %}
                                </td>
                                
                                <td class="text-center">
                                    <button class="btn btn-warning modal-btn" data-pk="{{ order.id }}">Chi tiết</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>


        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const modalBtns = [...document.querySelectorAll('.modal-btn')];
    const overlayElem = document.querySelector('.overlay');
    const modalElem = document.querySelector('.modal');
    const modalBody = document.getElementById('modal-body');
    const modalTitle = document.getElementById('modal-title');
    const submitModalBtn = document.getElementById('submit-modal');

    overlayElem.addEventListener('click', () => {
        overlayElem.style.display = 'none';
        modalElem.classList.remove('show-modal');
    });

    modalBtns.forEach(modalBtn => modalBtn.addEventListener('click', () => {
        const closeModalBtn = document.querySelector('.btn-close');

        overlayElem.style.display = 'block';
        modalElem.classList.add('show-modal');

        closeModalBtn.addEventListener('click', () => {
            overlayElem.style.display = 'none';
            modalElem.classList.remove('show-modal');
        });

        const dataPk = modalBtn.getAttribute('data-pk');
        fetch(`/restaurant-admin/order/${dataPk}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                let bundle = data.bundle;
                modalTitle.innerHTML = `Đơn hàng #${dataPk} - Thông tin chi tiết`;
                modalBody.innerHTML = `
                    <h4 class="text-center fs-4">Thông tin khách hàng</h4>
                    <p><b>User:</b> ${bundle.user_order}</p>
                    <p><b>Giao đến:</b> ${bundle.address}</p>
                    <p><b>Số điện thoại:</b> ${bundle.phone}</p>
                    <p><b>Thời gian đặt:</b> ${bundle.time}</p>
                    <hr>
                    <h4 class="text-center fs-4">Các món ăn</h4>
                    <ul>
                        ${bundle.dishes.map(dish => `
                            <li class="d-flex align-items-center justify-content-start" style="gap: 0.5rem; margin-bottom: 10px;">
                                <img src="${dish.image_url}" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                <div>
                                    <p><b>Món ăn:</b> ${dish.dish}</p>
                                    <p><b>Số lượng:</b> ${dish.quantity}</p>
                                    <p><b>Giá:</b> ${dish.price}</p>
                                    <p><b>Ghi chú:</b> ${dish.note || 'Không có'}</p>
                                </div>
                            </li>
                        `).join('')}
                    </ul>
                `;
                submitModalBtn.innerHTML = `Đóng`;
            } else {
                overlayElem.style.display = 'none';
                modalElem.classList.remove('show-modal');
            }
        })
        .catch(error => {
            console.error(error);
            overlayElem.style.display = 'none';
            modalElem.classList.remove('show-modal');
        });
    }));
});

</script>
 
{% endblock content %}

