{% extends 'base-admin.html' %}

{% load static %}

{% block title %} Hồ sơ nhà hàng {% endblock title %}

{% block content %}


        
        <form action="{% url 'save-restaurant-admin-profile-view' restaurant.slug %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex align-items-start justify-content-between mb-3" style="gap: 1%;">
            <div class="left-profile mt-3" style="width: 74%;">
                
                <div class="w-100 d-flex align-items-start justify-content-start mb-3" style="gap: 2%;">
                    <div style="width: 24%;">
                        <label for="" class="form-label w-100" style="text-align: right !important;">
                            Tên nhà hàng
                        </label>
                    </div>
                    <div style="width: 60%;">
                        <input type="text" name="rest-name" class="form-control" style="border-radius: 0;" value="{{restaurant.name}}">
                    </div>
                </div>

                <div class="w-100 d-flex align-items-start justify-content-start mb-3" style="gap: 2%;">
                    <div style="width: 24%;">
                        <label for="" class="form-label w-100" style="text-align: right !important;">
                            Địa chỉ
                        </label>
                    </div>
                    <div style="width: 60%;">
                        <textarea name="address" class="form-control" id="exampleFormControlTextarea1" rows="3" style="border-radius: 0;resize: none;" >{{restaurant.address}}</textarea>
                        <!-- <input type="text" class="form-control" style="border-radius: 0;" value="Nguyễn Văn Long"> -->
                    </div>
                </div>

                <div class="w-100 d-flex align-items-center justify-content-start mb-3" style="gap: 2%;">
                    <div style="width: 24%;">
                        <label for="" class="form-label w-100" style="text-align: right !important;">
                            Số điện thoại
                        </label>
                    </div>
                    <div style="width: 60%;">
                        <input type="number" name="phone-number" class="form-control" style="border-radius: 0;" value="{{restaurant.phone_number}}">
                    </div>
                </div>

                <div class="w-100 d-flex align-items-center justify-content-start mb-3" style="gap: 2%;">
                    <div style="width: 24%;">
                        <label for="" class="form-label w-100" style="text-align: right !important;">
                            Tỉnh, thành phố
                        </label>
                    </div>
                    <div style="width: 60%;">
                        <select class="form-select" name="city" aria-label="Default select example">
                            {% for city in cities %}
                            <option value="{{city.id}}" {% if restaurant.city.name == city.name %} selected {% endif %}>{{city.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="w-100 d-flex align-items-center justify-content-start mb-3" style="gap: 2%;">
                    <div style="width: 24%;visibility: hidden;">
                    </div>
                    <div style="width: 60%;">
                        <button type="submit" class="btn btn-success" style="border-radius: 0;">Lưu thông tin</button>
                    </div>
                </div>
                
                
                
            </div>
            <div class="right-profile mt-3 d-flex flex-column align-items-center" style="width: 25%;">
                <img class="w-75 h-75 rounded-circle" src="{{restaurant.logo.url}}" alt="">
                <input type="file" name="logo" class="form-control mt-3">
            </div>
        </div>
        </form>

{% endblock content %}