{% extends 'base.html' %}

{% load static %}

{% block title %} Quản lý nhà hàng {% endblock title %}

{% block content %}

<div class="w-100 d-flex align-items-center justify-content-between" style="gap: 1%;">
    <div style="width: 19%;min-height: 100vh;" class="bg-dark d-flex flex-column justify-content-between">
        <div class="d-flex flex-column align-items-start">
            <div style="width: 100%;" class="d-flex align-items-center justify-content-center">
                <img class="p-3" src="{{request.user.provider.restaurant.logo.url}}" style="width: 150px;height: 150px;border-radius: 50%;object-fit: cover;object-position: center;" alt="logo">
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'restaurant-admin-view' %}">
                        <i class="fa-solid fa-house" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Trang chủ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'dish-admin-view' %}">
                        <i class="fa-solid fa-bowl-food" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Quản lý món ăn</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'order-admin-view' %}">
                        <i class="fa-solid fa-cart-shopping" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Đơn đặt món</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'review-admin-view' %}">
                        <i class="fa-solid fa-comment" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Đánh giá nhà hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="color: #ffc107;" class="nav-link fs-5" href="{% url 'report-admin-view' %}">
                        <i class="fa-solid fa-chart-simple" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Báo cáo thống kê</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'revenues-admin-view' %}">
                        <i class="fa-solid fa-money-bill" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Doanh thu</span>
                    </a>
                </li>
                
              </ul>
        </div>
        <div class="w-100 d-flex align-items-center justify-content-center p-3">
            <a href="{% url 'logout-view' %}" class="p-3 border border-1 border-white d-flex align-items-center justify-content-center text-white" style="width: 50px;height: 50px;border-radius: 50%;text-decoration: none;">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>
    <div style="width: 80%;min-height: 100vh;" class="p-2">
        <div class="d-flex align-items-center justify-content-between" style="margin-top: 1rem;">
            <p class="fs-5 mb-0">Quản lý nhà hàng</p>
            <li class="nav-item dropdown" style="margin-left: 24px;padding-right: 48px;list-style: none;">
                <a class="nav-link dropdown-toggle" style="min-width: 100px; text-align: right;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{request.user.username}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'get-profile-view' %}">Tài khoản</a></li>
                    <li><a class="dropdown-item" href="#">Đơn hàng</a></li>
                    <li><a class="dropdown-item" href="#">Ví</a></li>
                    <li><a class="dropdown-item" href="#">Thông báo <span class="badge text-bg-secondary">4</span></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout-view' %}">Đăng xuất</a></li>
                </ul>
            </li>
        </div>
        <hr style="width: 100%;margin: 1rem auto 0;" />

        <div class="w-100 mt-2 d-flex justify-content-between align-items-start" style="gap: 1%;height: 450px;">
            <div style="width: 62%;height: 450px;">
                <p class="fs-5 fw-semibold">Biểu đồ doanh thu 7 ngày</p>
                <canvas id="reportChart" style="width: 100%;height: 420px;">

                </canvas>
            </div>
            <div style="width: 37%;">
                <table class="table table-hover shadow" style="overflow-y: auto;">
                    <caption class="text-center caption-top fw-bolder">Đơn hàng gần đây</caption>
                    <thead>
                        <tr>
                            
                                <th class="bg-primary text-white text-center fw-semi" style="border-top-left-radius: 6px;" scope="col">
                                    STT
                                </th>
                                <th class="bg-primary text-white text-center fw-semi" scope="col">
                                    Ngày
                                </th>
                                <th class="bg-primary text-white text-center fw-semi" style="border-top-right-radius: 6px;" scope="col">
                                    Dpanh thu
                                </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                                <tr class="fs-6 bg-info-subtle">
                                    <th class="bg-info-subtle text-dark text-center fw-semi" scope="row">
                                        1
                                    </th>
                                    <td class="bg-info-subtle text-dark text-center">
                                        14/04/2024
                                    </td>
                                    <td class="bg-info-subtle text-dark text-center">
                                        6,450,000 đ
                                    </td>
                                </tr>
                            
                                <tr class="fs-6 bg-light">
                                    <th class="bg-light text-dark text-center fw-semi" scope="row">
                                        2
                                    </th>
                                    <td class="bg-light text-dark text-center">
                                        13/04/2024
                                    </td>
                                    <td class="bg-light text-dark text-center">
                                        2,450,000 đ
                                    </td>
                                </tr>

                                <tr class="fs-6 bg-info-subtle">
                                    <th class="bg-info-subtle text-dark text-center fw-semi" scope="row">
                                        3
                                    </th>
                                    <td class="bg-info-subtle text-dark text-center">
                                        12/04/2024
                                    </td>
                                    <td class="bg-info-subtle text-dark text-center">
                                        3,350,000 đ
                                    </td>
                                </tr>
                            
                                <tr class="fs-6 bg-light">
                                    <th class="bg-light text-dark text-center fw-semi" scope="row">
                                        4
                                    </th>
                                    <td class="bg-light text-dark text-center">
                                        11/04/2024
                                    </td>
                                    <td class="bg-light text-dark text-center">
                                        2,950,000 đ
                                    </td>
                                </tr>

                                <tr class="fs-6 bg-info-subtle">
                                    <th class="bg-info-subtle text-dark text-center fw-semi" scope="row">
                                        5
                                    </th>
                                    <td class="bg-info-subtle text-dark text-center">
                                        10/04/2024
                                    </td>
                                    <td class="bg-info-subtle text-dark text-center">
                                        5,450,000 đ
                                    </td>
                                </tr>
                            
                                <tr class="fs-6 bg-light">
                                    <th class="bg-light text-dark text-center fw-semi" scope="row">
                                        6
                                    </th>
                                    <td class="bg-light text-dark text-center">
                                        09/04/2024
                                    </td>
                                    <td class="bg-light text-dark text-center">
                                        6,350,000 đ
                                    </td>
                                </tr>

                                <tr class="fs-6 bg-info-subtle">
                                    <th class="bg-info-subtle text-dark text-center fw-semi" scope="row">
                                        7
                                    </th>
                                    <td class="bg-info-subtle text-dark text-center">
                                        08/04/2024
                                    </td>
                                    <td class="bg-info-subtle text-dark text-center">
                                        3,350,000 đ
                                    </td>
                                </tr>
                            
                                

                            
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link active" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </div>
</div>
 
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('reportChart');

    let reportChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["05/04/2024", "06/04/2024", "07/04/2024", "08/04/2024", "09/04/2024", "10/04/2024", "11/04/2024", "12/04/2024", "13/04/2024", "14/04/2024"],
            datasets: [{
                label: 'Số lượng đơn hàng 10 ngày gần nhất',
                data: [23, 34, 26, 53, 35, 67, 45, 53, 45, 53],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock script %}
