{% extends 'base.html' %}

{% load static %}

{% block title %} Quản lý nhà hàng {% endblock title %}

{% block content %}

<div class="w-100 d-flex align-items-center justify-content-between" style="gap: 1%;">
    <div style="width: 19%;min-height: 100vh;" class="bg-dark d-flex flex-column justify-content-between">
        <div class="d-flex flex-column align-items-start">
            <div style="width: 100%;" class="d-flex align-items-center justify-content-center">
                <img class="p-3" src="{{request.user.provider.restaurant.logo.url}}" style="width: 150px;height: 150px;border-radius: 50%;object-fit: cover;object-position: center;" alt="logo">
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'restaurant-admin-view' %}">
                        <i class="fa-solid fa-house" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Trang chủ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'dish-admin-view' %}">
                        <i class="fa-solid fa-bowl-food" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Quản lý món ăn</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'order-admin-view' %}">
                        <i class="fa-solid fa-cart-shopping" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Đơn đặt món</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'review-admin-view' %}">
                        <i class="fa-solid fa-comment" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Đánh giá nhà hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-5" href="{% url 'report-admin-view' %}">
                        <i class="fa-solid fa-chart-simple" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Báo cáo thống kê</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="color: #ffc107;" class="nav-link fs-5" href="{% url 'revenues-admin-view' %}">
                        <i class="fa-solid fa-money-bill" style="margin: 0 1rem;"></i>
                        <span class="fs-5">Doanh thu</span>
                    </a>
                </li>
                
              </ul>
        </div>
        <div class="w-100 d-flex align-items-center justify-content-center p-3">
            <a href="{% url 'logout-view' %}" class="p-3 border border-1 border-white d-flex align-items-center justify-content-center text-white" style="width: 50px;height: 50px;border-radius: 50%;text-decoration: none;">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>
    <div style="width: 80%;min-height: 100vh;" class="p-2">
        <div class="d-flex align-items-center justify-content-between" style="margin-top: 1rem;">
            <p class="fs-5 mb-0">Quản lý nhà hàng</p>
            <li class="nav-item dropdown" style="margin-left: 24px;padding-right: 48px;list-style: none;">
                <a class="nav-link dropdown-toggle" style="min-width: 100px; text-align: right;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{request.user.username}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'get-profile-view' %}">Tài khoản</a></li>
                    <li><a class="dropdown-item" href="#">Đơn hàng</a></li>
                    <li><a class="dropdown-item" href="#">Ví</a></li>
                    <li><a class="dropdown-item" href="#">Thông báo <span class="badge text-bg-secondary">4</span></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout-view' %}">Đăng xuất</a></li>
                </ul>
            </li>
        </div>
        <hr style="width: 100%;margin: 1rem auto 0;" />
        
    </div>
</div>
 
{% endblock content %}

