{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Trang chủ {% endblock title %}

{% block style %}

<link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/modal.css' %}">

{% endblock style %}

{% block content %}

{% csrf_token %}

<div class="overlay"></div>
<div class="modal" id=""> <!--ID 1-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"> <!--ID 2-->
                    
                </h5>
                <button type="button" class="btn-close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="submit-modal"></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5" style="background-color: #D9F2EE;">

    <!-- Nav -->
    <nav id="navbar" class="navbar navbar-expand-lg pt-2">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-sm-none" style="padding-left: 48px;" id="navbarSupportedContent">
              <form class="search">
                <input type="text" placeholder="Bạn muốn ăn gì?" name="q" value="{% if query != 'None' %}{{query}}{% else %}''{% endif %}">
                <button class="search-btn">Tìm kiếm</button>
              </form>
          </div>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <span class="cart-counter">4</span>
              <a id="cart" class="nav-link cart" href="{% url 'cart-detail-view' %}"><ion-icon name="cart-outline"></ion-icon></a>
            </li>
            
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown" style="margin-left: 24px;padding-right: 48px;">
              <a class="nav-link dropdown-toggle" style="min-width: 100px; text-align: right;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user.username}}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'get-profile-view' %}">Tài khoản</a></li>
                <li><a class="dropdown-item" href="#">Đơn hàng</a></li>
                <li><a class="dropdown-item" href="#">Ví</a></li>
                <li><a class="dropdown-item" href="#">Thông báo <span class="badge text-bg-secondary">4</span></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                <li><a class="dropdown-item" href="{% url 'logout-view' %}">Đăng xuất</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item" style="padding-right: 48px;">
                <a class="nav-link user" href="{% url 'get-login-view' %}"><ion-icon name="person-outline"></ion-icon></a>
            </li>
            {% endif %}

          </ul>
        </div>
    </nav>

    <div class="food-highlight" style="padding: 1% 2%;margin: 2% 3em;background-color: #ffc107;border-radius: 8px;box-sizing: border-box;">
        <div class="d-flex align-items-center justify-content-between">
            <h3 class="fs-3 fw-semibold">Món ăn đề xuất</h3>
            <!-- <div class="fs-4">
                <ion-icon class="back" name="chevron-back-circle-outline"></ion-icon>
                <ion-icon class="next" name="chevron-forward-circle-outline"></ion-icon>
            </div> -->
        </div>

        <div class="food-highlight-wrapper w-100 d-flex" style="padding: 1%;gap: 1.5em;overflow-x: hidden;">
            {% for product in feature_list %}
            <div class="food-highlight-card d-flex flex-row align-items-center">
                <img src="{{product.image.url}}" alt="{{product.name}}">
                <div class="food-highlight-desc">
                    <h4>{{product.name|truncatechars:20}}</h4>
                    <p>{{product.price|intcomma}} đ</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="food-category">
        <div class="food-category-wrapper">
            <a href="{% url 'index' %}" style="text-decoration: none;">
                <div class="filter-card">
                    <div class="filter-icon">
                        <!-- <ion-icon name="restaurant-outline"></ion-icon> -->
                        <img src="{% static 'assets/images/utensils.png' %}" style="width: 100%;height: 100%;object-fit: cover;object-position: center;" alt="all menu">
                    </div>
                    <p style="margin-bottom: 0;">Tất cả</p>
                </div>
            </a>

            {% for cat in categories %}
            <a href="{% url 'menu-detail-view' cat.slug %}" style="text-decoration: none;">
                <div class="filter-card">
                    <div class="filter-icon">
                        <!-- <ion-icon name="fast-food-outline"></ion-icon> -->
                        <img src="{{cat.image.url}}" style="width: 100%;height: 100%;object-fit: cover;object-position: center;" alt="{{cat.name}}">
                    </div>
                    <p style="margin-bottom: 0;">{{cat.name}}</p>
                </div>
            </a>
            {% endfor %}

            
        </div>
    </div>

    {% if messages %}

        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{ message.tags }} alert alert-dismissible mt-1 mb-1"{% endif %} role="alert">
            <div>{{ message }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    
    {% endif %}
    
    <hr class="divider" />

    <div class="food-menus">
        <div class="food-list">
            {% for dish in items %}
            <div class="card food-card food-item">
                <img src="{{dish.image.url}}" class="card-img-top" style="width: 100%;height: 10rem;object-fit: cover;object-position: center;" alt="{{dish.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{dish.name|truncatechars:20}}</h5>
                  <p class="card-text d-flex align-items-center justify-content-between">
                    <span>⭐ 4.2</span>
                    <span>🕔 20 phút</span>
                    <span>{{dish.distance}} km</span>
                  </p>
                  <p class="card-text">Giá: {{dish.price|intcomma}} đ</p>
                  <button class="btn btn-success dish-modal" data-pk="{{dish.id}}" style="border-radius: 50%;">+</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pt-2 pb-2" style="margin-bottom: 0;">
            {% if items.has_previous %}
                <li class="page-item"><a class="page-link" href="?q={{query}}&page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="?q={{query}}&page={{ items.previous_page_number }}">&laquo;</a></li>
            {% endif %}

            {% for num in page_range %}
                <li class="page-item {% if num == items.number %}active{% endif %}"><a class="page-link" href="?q={{query}}&page={{ num }}">{{ num }}</a></li>
            {% endfor %}
    
            {% if items.has_next %}
                <li class="page-item"><a class="page-link" href="?q={{query}}&page={{ items.next_page_number }}">&raquo;</a></li>
                <li class="page-item"><a class="page-link" href="?q={{query}}&page={{ items.paginator.num_pages }}">{{ items.paginator.num_pages }}</a></li>
            {% endif %}
        </ul>
    </nav>

</div>
<div class="w-100" style="background-color: #BED7DC;padding: 3em 4.5em 0.8em;">
    <div class="row">
        <div class="col col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <p class="fw-semibold">Thông tin chung</p>
            <div class="flex-column">
                <a href="#" class="nav-link text-primary">Giới thiệu về HK2Food</a>
                <a href="#" class="nav-link text-primary">Điều khoản sử dụng</a>
                <a href="#" class="nav-link text-primary">Chính sách bảo mật</a>
                <a href="#" class="nav-link text-primary">Đăng ký nhà hàng</a>
                <a href="#" class="nav-link text-primary">Trung tâm trợ giúp</a>
                <a href="#" class="nav-link text-primary">Câu hỏi thường gặp</a>
            </div>
        </div>
        <div class="col col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <p class="fw-semibold">Chi nhánh</p>
            
            <a href="#" class="nav-link text-primary fs-6">Hà Nội</a>
            <a href="#" class="nav-link text-primary fs-6">TP. Hồ Chí Minh</a>
            <a href="#" class="nav-link text-primary fs-6">Cần Thơ</a>
            <a href="#" class="nav-link text-primary fs-6">Đà Nẵng</a>
            
        </div>
        <div class="col col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <p class="fw-semibold">Thực đơn</p>
            <a href="#" class="nav-link fs-6">Đồ ăn nhanh</a>
            <a href="#" class="nav-link fs-6">Đồ uống</a>
            <a href="#" class="nav-link fs-6">Kem</a>
            <a href="#" class="nav-link fs-6">Cà phê</a>
            <a href="#" class="nav-link fs-6">Hải sản</a>
            <a href="#" class="nav-link fs-6">Đồ chay</a>

            <!-- <button type="button" class="btn btn-dark text-white mb-1 d-flex align-items-center justify-content-center" style="width: 40px;height: 40px;"><i class="fa-brands fa-apple"></i></button><br>
            <button type="button" class="btn btn-dark text-white d-flex align-items-center justify-content-center" style="width: 40px;height: 40px;"><i class="fa-brands fa-android"></i></button><br> -->
        </div>
        <div class="col col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <p class="fw-semibold">Thông tin liên hệ</p>
            <p class="text-start" style="margin-bottom: 0;">Công Ty Cổ Phần HK2Food</p>
            <p class="text-start" style="margin-bottom: 0;">Lầu G, Tòa nhà Jabes 1,</p>
            <p class="text-start" style="margin-bottom: 0;">số 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TPHCM</p>
            <p class="text-start" style="margin-bottom: 0;">Giấy CN ĐKDN số: 0311828036</p>
            <p class="text-start" style="margin-bottom: 0;">do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012,</p>
            <p class="text-start" style="margin-bottom: 0;">sửa đổi lần thứ 23, ngày 10/12/2020</p>
            <p class="text-start" style="margin-bottom: 0;">Chịu trách nhiệm quản lý nội dung: Nguyễn Văn Long</p>
            <p class="text-start" style="margin-bottom: 0;">Điện thoại liên hệ: 023 5434 534</p>
            <p class="text-start" style="margin-bottom: 0;">Email: <span class="text-primary">rin2@gmail.com</span></p>

        </div>
    </div>
    <p class="text-center" style="padding-top: 0.8em;margin-bottom: 0;">Copyright ©️ 2024</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let navbar = document.getElementById('navbar');
        let scrollPosition = window.scrollY;

        function onScroll() {
            let currentPosition = window.scrollY;
            if (currentPosition > scrollPosition) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
            scrollPosition = currentPosition;
        }

        window.addEventListener('scroll', onScroll);
    });
</script>

{% endblock content %}

{% block script %}
<script src="{% static 'assets/js/index.js' %}"></script>
{% endblock script %}
