{% extends 'base.html' %}
{% load static %}

{% block title %} Hồ sơ cá nhân {% endblock title %}

{% block content %}

<div style="min-height: 100vh;background-color: #F5F5F5;" class="w-100">
    <div class="container pt-3" style="background-color: #FFFFFF;min-height: 100vh;">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h3 class="fs-3">Hồ sơ cá nhân</h3>
                <h4 class="fs-5">Cần cập nhật đầy đủ thông tin cá nhân để thanh toán</h4>
            </div>
            <a href="{% url 'index' %}" class="nav-link">
                <i class="fa-solid fa-house fs-5"></i>
            </a>
        </div>
        <hr class="text-dark">
        <div class="d-flex align-items-start justify-content-between" style="gap: 1%;">
            <div class="left-profile mt-3" style="width: 74%;">
                <form method="POST">
                    {% csrf_token %}
                    <div class="w-100 d-flex align-items-start justify-content-start mb-3" style="gap: 2%;">
                        <!-- Điền thông tin khách hàng vào các trường input dưới đây -->
                        <div style="width: 24%;">
                            <label for="" class="form-label w-100" style="text-align: right !important;">
                                Tên tài khoản
                            </label>
                        </div>
                        <div style="width: 60%;">
                            <input type="text" class="form-control" style="border-radius: 0;" value="{{ customer.admin.username }}" disabled>
                            <div id="emailHelp" class="form-text">Tên tài khoản chỉ được thay đổi 1 lần</div>
                        </div>
                    </div>

                    <!-- Thêm các trường input khác tương tự cho các thông tin cần chỉnh sửa -->
                    <!-- Ví dụ: -->
                    <div class="w-100 d-flex align-items-center justify-content-start mb-3" style="gap: 2%;">
                        <div style="width: 24%;">
                            <label for="" class="form-label w-100" style="text-align: right !important;">
                                Địa chỉ
                            </label>
                       
                        </div>
                        <div style="width: 60%;">
                            <input type="text" class="form-control" style="border-radius: 0;" name="address" value="{{ customer.address }}">
                        </div>
                    </div>
    
                    <!-- Thêm các trường input khác tương tự cho các thông tin cần chỉnh sửa -->
                    <!-- Ví dụ: -->
                    <div class="w-100 d-flex align-items-center justify-content-start mb-3" style="gap: 2%;">
                        <div style="width: 24%;">
                            <label for="" class="form-label w-100" style="text-align: right !important;">
                                Số điện thoại
                            </label>
                        </div>
                        <div style="width: 60%;">
                            <input type="text" class="form-control" style="border-radius: 0;" name="phone_number" value="{{ customer.phone_number }}">
                        </div>
                    </div>
    
                    <!-- Thêm các trường input khác tương tự cho các thông tin cần chỉnh sửa -->
                    <!-- Ví dụ: -->
                    <div class="w-100 d-flex align-items-center justify-content-start mb-3" style="gap: 2%;">
                        <div style="width: 24%;">
                            <label for="" class="form-label w-100" style="text-align: right !important;">
                                Tỉnh, thành phố
                            </label>
                        </div>
                        <div style="width: 60%;">
                            <select class="form-select" aria-label="Default select example" name="city">
                                <!-- Lặp qua các thành phố và hiển thị lựa chọn -->
                                {% for city in cities %}
                                <option value="{{city.id}}" {% if customer.city.name == city.name %} selected {% endif %}>{{city.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
    
                    <div class="w-100 d-flex align-items-center justify-content-start mb-3" style="gap: 2%;">
                        <div style="width: 24%;visibility: hidden;">
                        </div>
                        <div style="width: 60%;">
                            <button type="submit" class="btn btn-success" style="border-radius: 0;">Lưu thông tin</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="right-profile mt-3 d-flex flex-column align-items-center" style="width: 25%;">
                <!-- Hiển thị hình ảnh avatar và biểu mẫu để tải lên hình ảnh mới -->
                <img class="w-75 h-75 rounded-circle" src="{{ customer.avatar.url }}" alt="">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" class="form-control mt-3" name="avatar">
                    <button type="submit" class="btn btn-primary mt-2">Tải lên</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}